 .fa {
    font-size: 200% ;
    text-align: center;
    text-decoration: none;
    margin: 8px 8px;
}
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    color: white;
  }
  
  .fa-youtube-play {
    color: white;
  }
  
  .fa-instagram {
    color: white;
  }

  .fa-github {
    color: white;
  }
  