h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
}
h2{
    font-size: 2em;
    color: #fff;
    margin:0;
    padding:0;
}
.intro p{
    color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
    background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
    background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
    background: linear-gradient(#4BBFC3,#7BAABE);
}

#section2{
    background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636F8F));
    background: -webkit-linear-gradient(#969AC6, #636F8F);
    background: linear-gradient(#969AC6,#636F8F);
}

 /*Adding background for the slides
* --------------------------------------- */
#slide1{
    background: -webkit-gradient(linear, top left, bottom left, from(#7baabe), to(#969ac6));
    background: -webkit-linear-gradient(#7BAABE, #969AC6);
    background: linear-gradient(#7BAABE,#969AC6);
}
#slide2{
    background: -webkit-gradient(linear, top left, bottom left, from(#92a1ca), to(#76c2bd));
    background: -webkit-linear-gradient(#92a1ca, #76c2bd);
    background: linear-gradient(#92a1ca,#76c2bd);
}

.button {
    display: inline-block;
    line-height: 3em;
    color: #fff;
    padding: 0 1em;
    background: #34343E;
    border-radius: 0.125em;
    background-clip: padding-box;
    margin-right: 1em;
    cursor: pointer;
}

.button--ghost {
	border: 1px solid #EEE !important;
    background: none;
}

.button--ghost:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.bawah {
    position: absolute;
    bottom: 0%;
    font-size: 1em;
}